@use '../abstracts/' as *;



.flex-group {
    display: flex;
    flex-wrap: wrap;
    width: fit-content;
    //--flex-gap doesn't exist yet, just for easier overwriting
    gap: var(--flex-gap, $flex-group-gap);
}